// Product Section Styling Here
.product-section-area {
    position: relative;
    z-index: 0;
    margin-top: 80px;

    &.style-01 {
        background: #F3F7FA;
        padding: 80px 0px 43px 0px;
    }
}

.product-details-section {
    position: relative;
    z-index: 0;
    margin-top: 80px;
}

.product-details-content {
    margin-top: 15px;

    .stock {
        background: var(--secondary-color);
        padding: 6px 12px;
        border-radius: 50px;
        color: $white;
        font-size: 14px;
        font-family: var(--body-font);
        font-weight: 500;
        margin-bottom: 17px;
        display: inline-block;
    }

    .title {
        font-size: 24px;
        line-height: 1.45;
        font-family: var(--heading-font);
        font-weight: 700;
        color: var(--heading-color);
        margin-bottom: 16px;
    }

    .review {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        i {
            color: #FC8F00;
            font-size: 15px;

            &.style-01 {
                color: #BFBFBF;
            }
        }

        span {
            display: inline-block;
            font-size: 15px;
            line-height: 1.72;
            font-family: var(--body-font);
            font-weight: 500;
            color: #505050;
            margin-left: 10px;
        }
    }

    .price {
        font-size: 24px;
        line-height: 1.45;
        font-family: var(--heading-font);
        font-weight: 700;
        color: var(--secondary-color);
        margin-bottom: 20px;
        display: inline-block;
    }

    .para {
        font-size: 16px;
        line-height: 1.72;
        font-family: var(--body-font);
        font-weight: 400;
        color: #505050;
        border-bottom: 1px dashed #CBCBCB;
        margin-bottom: 26px;
        padding-bottom: 25px;
    }

    .add-to-cart-wrap {
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #CBCBCB;
        margin-bottom: 20px;
        padding-bottom: 38px;
        flex-wrap: wrap;

        .add-to-cart {
            margin-left: 20px;

            a {
                background: var(--secondary-color);
                padding: 16px 25px;
                border-radius: 6px;
                font-size: 16px;
                line-height: 1.72;
                font-family: var(--body-font);
                font-weight: 500;
                color: #fff;

                i {
                    margin-right: 10px;
                }
            }
        }

        .add-to-wishlist {
            margin-left: 20px;

            a {
                font-size: 16px;
                line-height: 1.72;
                font-family: var(--body-font);
                font-weight: 500;
                color: var(--heading-color);

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .tag-wrapper {
        display: flex;
        align-items: center;

        &.style-01 {
            margin-bottom: 20px;
        }

        span {
            font-size: 16px;
            line-height: 1.72;
            font-family: var(--body-font);
            font-weight: 500;
            color: var(--heading-color);
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-left: 10px;

            li {
                display: inline-block;
                font-size: 14px;
                line-height: 1.72;
                font-family: var(--body-font);
                font-weight: 400;
                color: #8A8A8A;
            }
        }
    }
}

.product-quantity {
    .product-plus-minus {
        width: 140px;
        position: relative;
        display: inline-block;

        &.style-01 {
            width: 110px;
        }

        .qtybutton {
            color: black;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            margin: 0;
            text-align: center;
            width: 37px;
            height: 37px !important;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            transition: all ease 0.3s;
            border: 1px solid #DEDEDE;
            border-radius: 10px;

            &.dec {
                left: 0px;
                top: 0px;
            }

            &.inc {
                right: 0px;
                top: 0px;
            }
        }

        .product-plus-minus-box {
            color: black;
            font-size: 16px;
            height: 36px;
            font-weight: 600;
            margin: 0;
            text-align: center;
            width: 140px;
            outline: none;
            border: 1px solid transparent;
            background-color: transparent;

            &.style-01 {
                width: 110px;
            }
        }
    }
}

.color-wrapper {
    margin-bottom: 36px;

    .wrapper-inner {
        display: flex;
        align-items: center;

        .color {
            font-size: 16px;
            line-height: 1.6;
            font-family: var(--body-font);
            font-weight: 500;
            color: var(--heading-color);
            margin-right: 20px;
        }
    }

    .radio {
        position: relative;

        +.radio {
            margin-left: 35px;
        }

        .checkmark {
            &.style-01 {
                &::after {
                    background: #A45A3F;
                }
            }

            &.style-02 {
                &::after {
                    background: #F7A56F;
                }
            }

            &.style-03 {
                &::after {
                    background: #CBB487;
                }
            }

            &::after {
                top: 2px;
                left: 2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #8F1818;
            }
        }
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;

    }

    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 16px;
        width: 16px;
        background: #8F1818;
        border-radius: 50%;
        padding: 9px;
        border: 1px solid transparent;
        transition: .2s all ease;

        &:focus {
            outline: none;
        }

        &.style-01 {
            background: #A45A3F;
        }

        &.style-02 {
            background: #F7A56F;
        }

        &.style-03 {
            background: #CBB487;
        }
    }

    .radio input:checked~.checkmark {
        border: 1px solid #000000;
        padding: 9px;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .radio input:checked~.checkmark:after {
        display: block;
    }

    .radio input:checked~.checkmark {
        background: transparent;
    }

}

.xzoom-container {
    .thumb {
        position: relative;
        z-index: 0;

        .icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            color: #8A8A8A;
            padding: 0;
        }
    }

    .gallery-wrapper {
        margin-top: 30px;

        .xzoom-gallery {
            border: 1px solid transparent;

            &.xactive {
                border: 1px solid var(--secondary-color);
            }
        }
    }
}

.product-information-section {
    .information-wrapper {
        border-top: 1px dashed #CBCBCB;
        padding-top: 60px;
        margin-top: 55px;

        .nav-parent {
            text-align: center;

            .nav-pills {
                justify-content: center;
                margin-bottom: 40px;
                display: inline-flex;
                border-bottom: 1px solid #E8E8E8;
                padding-bottom: 8px;

                .nav-item {
                    +.nav-item {
                        margin-left: 60px;
                    }

                    .nav-link {
                        padding: 0;
                        background: transparent;
                        font-size: 16px;
                        line-height: 1.65;
                        font-family: var(--body-font);
                        font-weight: 500;
                        color: #505050;
                        border-radius: 0px;
                        position: relative;
                        z-index: 0;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            width: 0%;
                            height: 3px;
                            background-color: var(--secondary-color);
                            transition: .3s all ease;
                        }

                        &.active {
                            color: var(--secondary-color);

                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }


        .informarion-content {
            margin-bottom: 35px;

            .title {
                font-size: 18px;
                line-height: 1.6;
                font-family: var(--heading-font);
                font-weight: 700;
                color: var(--heading-color);
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                line-height: 1.65;
                font-family: var(--body-font);
                font-weight: 400;
                color: #505050;
                margin-bottom: 0;
            }
        }

        .product-features {
            .title {
                font-size: 18px;
                line-height: 1.6;
                font-family: var(--heading-font);
                font-weight: 700;
                color: var(--heading-color);
                margin-bottom: 10px;
            }
        }
    }
}

.product-cart-section {
    position: relative;
    z-index: 0;
    margin-top: 80px;

    .table {
        thead {
            @media only screen and (max-width: 991px) {
                display: none;
            }

            th {
                border-bottom: 1px dashed #CBCBCB !important;
                padding: 15px 50px;
                border-top: 0;
                font-size: 16px;
                line-height: 1.65;
                font-family: var(--body-font);
                font-weight: 700;
                text-transform: uppercase;
                color: #505050;

                &:first-child {
                    padding-left: 0;
                }
            }
        }

        tbody {
            td {
                border-top: 0;
                vertical-align: middle;
                padding: 20px 50px 20px 50px;
                line-height: 1.65;
                font-family: var(--body-font);
                font-weight: 400;
                text-transform: uppercase;
                color: #505050;
                border-bottom: 1px dashed #CBCBCB;

                @media only screen and (max-width: 991px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: right;
                    border-bottom: 1px dashed #CBCBCB;
                    padding: 20px 20px 20px 20px;

                    &::before {
                        content: attr(data-label);
                        margin-right: auto;
                        color: var(--secondary-color);
                        width: 50%;
                        text-align: left;
                    }
                }

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .custom-table tbody tr td {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: right;
            border-bottom: 1px solid #eeeeee;
        }

        .custom-table tbody tr td:last-child {
            border: none;
        }

        .custom-table tbody tr td::before {
            content: attr(data-label);
            margin-right: auto;
            color: #0088cc;
            width: 50%;
            text-align: left;
        }
    }

    .cart-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-group {
            .form-control {
                background: #F3F7FA;
                border: none;
                border-radius: 6px;
                height: 60px;
                width: 164px;
                color: #000000;
                padding-left: 25px;

                &::placeholder {
                    color: #000000;
                }
            }
        }

        .cart-btn {
            background: #F3F7FA;
            padding: 18px 33px;
            font-size: 16px;
            font-family: var(--body-font);
            font-weight: 500;
            color: #000000;
            display: inline-block;
            border-radius: 6px;

            &.style-01 {
                background: var(--secondary-color);
                color: $white;
                margin-left: 20px;
            }
        }

        .right {
            display: flex;
            align-items: center;
        }
    }

    .cart-total {
        background: #F8F8F8;
        padding: 17px 20px 20px 20px;
        margin-top: 60px;

        .title {
            font-size: 24px;
            line-height: 1.45;
            font-family: var(--heading-font);
            font-weight: 700;
            color: var(--heading-color);
            margin-bottom: 15px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                font-size: 16px;
                line-height: 1.65;
                font-family: var(--body-font);
                font-weight: 500;
                color: #10221B;
                margin-bottom: 10px;
                padding-bottom: 15px;
                border-bottom: 1px dashed #DEDEDE;

                span {
                    float: right;
                }
            }
        }

        a {
            background: var(--secondary-color);
            padding: 16px 33px;
            font-size: 16px;
            font-family: var(--body-font);
            font-weight: 500;
            color: $white;
            display: inline-block;
            border-radius: 6px;
            margin-top: 20px;
        }
    }
}