



.text-bg-primary {
    color: #fff !important;
    background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-secondary {
    color: #fff !important;
    background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-success {
    color: #fff !important;
    background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-info {
    color: #000 !important;
    background-color: RGBA(var(--bs-info-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-warning {
    color: #000 !important;
    background-color: RGBA(var(--bs-warning-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-danger {
    color: #fff !important;
    background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-light {
    color: #000 !important;
    background-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-dark {
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  
  
  
  .table.table-valign-middle thead > tr > th,
  .table.table-valign-middle thead > tr > td,
  .table.table-valign-middle tbody > tr > th,
  .table.table-valign-middle tbody > tr > td {
    vertical-align: middle;
  }
  .card-body.p-0 .table thead > tr > th:first-of-type,
  .card-body.p-0 .table thead > tr > td:first-of-type,
  .card-body.p-0 .table tfoot > tr > th:first-of-type,
  .card-body.p-0 .table tfoot > tr > td:first-of-type,
  .card-body.p-0 .table tbody > tr > th:first-of-type,
  .card-body.p-0 .table tbody > tr > td:first-of-type {
    padding-left: 1.5rem;
  }
  .card-body.p-0 .table thead > tr > th:last-of-type,
  .card-body.p-0 .table thead > tr > td:last-of-type,
  .card-body.p-0 .table tfoot > tr > th:last-of-type,
  .card-body.p-0 .table tfoot > tr > td:last-of-type,
  .card-body.p-0 .table tbody > tr > th:last-of-type,
  .card-body.p-0 .table tbody > tr > td:last-of-type {
    padding-right: 1.5rem;
  }
  
  .small-box {
    border-radius: 0.375rem;
    box-shadow: 0 0 1px rgba(var(--bs-body-color-rgb), 0.125), 0 1px 3px rgba(var(--bs-body-color-rgb), 0.2);
    position: relative;
    display: block;
    margin-bottom: 1.25rem;
    --bs-link-color-rgb: none;
    --bs-link-hover-color-rgb: none;
    --bs-heading-color: none;
  }
  .small-box > .inner {
    padding: 10px;
  }
  .small-box > .small-box-footer {
    position: relative;
    z-index: 10;
    display: block;
    padding: 3px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.07);
  }
  .small-box > .small-box-footer:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .small-box h3, .small-box .h3 {
    font-size: calc(1.345rem + 1.14vw);
    padding: 0;
    margin: 0 0 10px;
    font-weight: 700;
    white-space: nowrap;
  }
  @media (min-width: 1200px) {
    .small-box h3, .small-box .h3 {
      font-size: 2.2rem;
    }
  }
  @media (min-width: 992px) {
    .col-xl-2 .small-box h3, .col-xl-2 .small-box .h3, .col-lg-2 .small-box h3, .col-lg-2 .small-box .h3, .col-md-2 .small-box h3, .col-md-2 .small-box .h3 {
      font-size: calc(1.285rem + 0.42vw);
    }
  }
  @media (min-width: 992px) and (min-width: 1200px) {
    .col-xl-2 .small-box h3, .col-xl-2 .small-box .h3, .col-lg-2 .small-box h3, .col-lg-2 .small-box .h3, .col-md-2 .small-box h3, .col-md-2 .small-box .h3 {
      font-size: 1.6rem;
    }
  }
  @media (min-width: 992px) {
    .col-xl-3 .small-box h3, .col-xl-3 .small-box .h3, .col-lg-3 .small-box h3, .col-lg-3 .small-box .h3, .col-md-3 .small-box h3, .col-md-3 .small-box .h3 {
      font-size: calc(1.285rem + 0.42vw);
    }
  }
  @media (min-width: 992px) and (min-width: 1200px) {
    .col-xl-3 .small-box h3, .col-xl-3 .small-box .h3, .col-lg-3 .small-box h3, .col-lg-3 .small-box .h3, .col-md-3 .small-box h3, .col-md-3 .small-box .h3 {
      font-size: 1.6rem;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-2 .small-box h3, .col-xl-2 .small-box .h3, .col-lg-2 .small-box h3, .col-lg-2 .small-box .h3, .col-md-2 .small-box h3, .col-md-2 .small-box .h3 {
      font-size: calc(1.345rem + 1.14vw);
    }
  }
  @media (min-width: 1200px) and (min-width: 1200px) {
    .col-xl-2 .small-box h3, .col-xl-2 .small-box .h3, .col-lg-2 .small-box h3, .col-lg-2 .small-box .h3, .col-md-2 .small-box h3, .col-md-2 .small-box .h3 {
      font-size: 2.2rem;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-3 .small-box h3, .col-xl-3 .small-box .h3, .col-lg-3 .small-box h3, .col-lg-3 .small-box .h3, .col-md-3 .small-box h3, .col-md-3 .small-box .h3 {
      font-size: calc(1.345rem + 1.14vw);
    }
  }
  @media (min-width: 1200px) and (min-width: 1200px) {
    .col-xl-3 .small-box h3, .col-xl-3 .small-box .h3, .col-lg-3 .small-box h3, .col-lg-3 .small-box .h3, .col-md-3 .small-box h3, .col-md-3 .small-box .h3 {
      font-size: 2.2rem;
    }
  }
  .small-box p {
    font-size: 1rem;
  }
  .small-box p > small, .small-box p > .small {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #f8f9fa;
  }
  .small-box h3, .small-box .h3,
  .small-box p {
    z-index: 5;
  }
  .small-box .small-box-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 0;
    height: 70px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
    transition: transform 0.3s linear;
  }
  @media (prefers-reduced-motion: reduce) {
    .small-box .small-box-icon {
      transition: none;
    }
  }
  .small-box:hover .small-box-icon {
    transform: scale(1.1);
  }
  
  